<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/dist/themes/default/style.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"
        type="text/javascript"></script>
    <script src="/javascripts/jstree.min.js"></script>
    <!-- <script type="text/javascript" src="javascripts/script_first.js"></script> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>

<body>

    <nav class="navbar navbar-dark bg-dark mb-5">
        <div class="container-fluid">
            <a class="navbar-brand" style="position: relative; left: 50%; margin-left: -50px;" href="#">JSON TOOLKIT</a>
        </div>
    </nav>
    

    <div class="container">
        
        <div class="row mb-4">
            <div class="col">
                <h5>Source View</h5>
            </div>
            <div class="col">

            </div>
            <div class="col">
                <h5>Target View</h5>
            </div>
        </div>
        

        <div class="row">

            <div class="col">
                <div id="tree1"></div>
            </div>

            <div class="col">

                <div class="row mb-4">
                    
                    <div class="d-grid gap-5">
                        <form action="/menu/<%= id %>/new/">
                            <button type="submit" class="btn btn-info" style="width: 75%;">Add New
                                Transformation</button>
                        </form>
                        <form action="/menu/<%= id %>/mappings/">
                            <button type="submit" class="btn btn-info" style="width: 75%;">View Saved
                                Transformations</button>
                        </form>
                        <button id="unmapped" type="button" class="btn btn-primary" data-toggle="modal"
                            data-target=".bd-example-modal-lg" style="width: 75%;">Unmapped Target Fields</button>

                        <div id="unmappedModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                            aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">UnMapped target Fields</h5>
                                        <button id="closeunmapped" type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <% if(unmapped_targets.length>0){ %>
                                        <ul class="list-group">
                                            <% for(var i=0; i<unmapped_targets.length; i++){ %>
                                                <li class="list-group-item">
                                                    <%= unmapped_targets[i] %>
                                                </li>
                                                <% } %>
                                        </ul>
                                        <% }else{ %>
                                            <div class="row">
                                                <p>All Target Fields have been mapped!</p>
                                            </div>
                                            <% } %>
                                </div>
                            </div>
                        </div>

                        <button type="button" id="modalButton" class="btn btn-danger" data-toggle="modal"
                            data-target=".bd-example-modal-sm" style="width: 75%; background-color:red  ;">Reset All
                            Transformations</button>

                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Are You Sure ?</h5>

                                    </div>
                                    <div class="modal-body">
                                        Resetting will delete all the transformations.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" id="close" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                        <form action="/deleteAll/<%= id %>" method="post">
                                            <button type="submit" id="confirm" class="btn btn-primary">Confirm</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <button type="button" id="modalhome" class="btn btn-danger" style="width:75%;">Go Home</button>


                        <form action="/menu/<%= id %>/preview/">
                            <button type="submit" id="generate" class="btn btn-success" style="width: 75%;">Generate
                                Template</button>
                        </form>


                    </div>
                </div>

                <div class="row mt-4 mt-8">

                </div>
            </div>
            <div class="col">
                <div id="tree"></div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="myhome" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are You Sure ?</h5>

                </div>
                <div class="modal-body">
                    Going Back Home will Delete all your data. Do you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" id="closehome" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form action="/goHome/<%= id %>" method="POST">
                        <button type="submit" id="confirm" class="btn btn-primary">Confirm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <svg width="100%" height="100%">
        <defs>
            <marker id="arrowhead" viewBox="0 0 10 10" refX="3" refY="5" markerWidth="6" markerHeight="6" orient="auto">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
        </defs>
        <g fill="none" stroke="red" stroke-width="2" marker-end="url(#arrowhead)">
            <path id="arrow" />
        </g>
    </svg>

    <script>
        $('#unmapped').on('click', function () {
            $('#unmappedModal').modal('show');
        });

        $('#closeunmapped').on('click', function () {
            $('#unmappedModal').modal('hide');
        });

        $('#modalButton').on('click', function () {
            $('#myModal').modal('show');
        });

        $('#close').on('click', function () {
            $('#myModal').modal('hide');
        });

        $('#modalhome').on('click', function () {
            $('#myhome').modal('show');
        });

        $('#closehome').on('click', function () {
            $('#myhome').modal('hide');
        });


        var jsondata_source = JSON.parse('<%- arr_source %>');
        var jsondata_target = JSON.parse('<%- arr_target %>');
        // console.log(jsondata[0].text);
        $.jstree.defaults.core.themes.variant = "large";



        $(function () {

            // var jsondata_source = jsondata;
            var identifier_target = $('#tree');
            var identifier_source = $('#tree1');
            createJSTree(jsondata_target, identifier_target);
            createJSTree(jsondata_source, identifier_source);
    
        });

        function createJSTree(jsondata, identifier) {
            identifier
                .jstree({
                    'core': {
                        'data': jsondata
                    },


                })
                .bind("loaded.jstree", function (event, data) {
                    $(this).jstree("open_all");
                });
            console.log("jstree rendered");

        }

       

    </script>
</body>

</html>